<header class="header">
  <div class="nav-container">
    <div class="header-logo">
      <div class="header-name-image">
        <div class="header-logos">
          <img
            src="./dist/img/forkio-logo.png"
            alt=""
            class="header-logo-img"
          />
          <img
            src="./dist/img/logo-hover.png"
            alt=""
            class="header-logo-hover"
          />
        </div>
        <h1 class="header-logo-name links">Forkio</h1>
      </div>
      <div class="nav-menu-buy-btn">
        <ul class="nav-menu-items-desktop">
          <li>
            <a href="#" class="nav-menu-item links">Overview</a>
          </li>

          <li>
            <a href="#" class="nav-menu-item links">About Fork</a>
          </li>

          <li>
            <a href="#" class="nav-menu-item links">Buying Options</a>
          </li>

          <li>
            <a href="#" class="nav-menu-item links">Support</a>
          </li>
        </ul>
        <button class="buy-now button">Buy Now</button>
      </div>

      <div class="toggle-btn">
        <span class="toggle toggle-half"></span>
        <span class="toggle"></span>
        <span class="toggle"></span>
      </div>
    </div>
    <div class="nav-menu">
      <ul class="nav-menu-items">
        <li>
          <a href="#" class="nav-menu-item">Overview</a>
        </li>

        <li>
          <a href="#" class="nav-menu-item">About Fork</a>
        </li>

        <li>
          <a href="#" class="nav-menu-item">Buying Options</a>
        </li>

        <li>
          <a href="#" class="nav-menu-item">Support</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-text">
    <h1 class="app-header">Fork App</h1>
    <h2 class="fork-app-text text-style-fork">
      A Real Gamechanger In The World Of Web-Development
    </h2>
    <h2 class="version-text text-style-fork">v. 2.8 For Mac and Windows</h2>
  </div>
  <button class="download-btn button">Download For Free Now</button>
  <p class="sentence-text">Unlimited 30-Days Trial Period</p>
</header>
