<section class="offer">
  <div class="offer__conteiner">
    <h2 class="offer__header">&lt;Here is what you get&gt;</h2>
    <ul class="offer__list">
      <li class="offer__item">
        <img
          class="offer__image"
          src="./dist/img/offer/icon1.png"
          alt="image"
          width="111"
          height="64"
        />
        <div class="offer__text-comteiner">
          <h3 class="offer__subtitle">Creatred to Make The Web Better</h3>
          <p class="offer__text">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </li>
      <li class="offer__item">
        <img
          class="offer__image"
          src="./dist/img/offer/icon2.png"
          alt="image"
          width="90"
          height="80"
        />
        <div class="offer__text-comteiner">
          <h3 class="offer__subtitle">Incredibly Powerful Tool</h3>
          <p class="offer__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </li>
      <li class="offer__item">
        <img
          class="offer__image"
          src="./dist/img/offer/icon3.png"
          alt="image"
          width="60"
          height="84"
        />
        <div class="offer__text-comteiner">
          <h3 class="offer__subtitle">Experimental Stuff</h3>
          <p class="offer__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </li>
      <li class="offer__item">
        <img
          class="offer__image"
          src="./dist/img/offer/icon4.png"
          alt="image"
          width="71"
          height="71"
        />
        <div class="offer__text-comteiner">
          <h3 class="offer__subtitle">Creatred to Make The Web Better</h3>
          <p class="offer__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </li>
    </ul>
    <picture>
      <source
        srcset="./dist/img/offer/editor2.jpg"
        media="(min-width: 481px)"
      />
      <img
        class="offer__baner"
        src="./dist/img/offer/editor1.jpg"
        alt="image"
      />
    </picture>
  </div>
</section>
