@import "./abstracts/mixins";
@import "./abstracts/variables";

.header {
  background: url(../../dist/img/img3.jpg);
  background-position: center;
  height: 718px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  @include mq("tablet", min) {
    background-image: url(../../dist/img/img2.jpg);
  }
  @include mq("desktop") {
    background-image: url(../../dist/img/header-background.png);
  }

  .header-logo-hover {
    display: none;
    cursor: pointer;
  }

  .header-logos:hover {
    padding-bottom: 3px;

    .header-logo-img {
      display: none;
    }

    .header-logo-hover {
      display: block;
    }
  }

  .links:hover {
    color: #fff;
    cursor: pointer;
  }

  &-name-image {
    @include mq("tablet", min) {
      display: flex;
      align-items: center;
    }
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include mq("tablet", min) {
      display: flex;
    }

    .nav-menu-items-desktop {
      display: none;
      margin-top: 7px;

      @include mq("desktop") {
        display: flex;
      }
    }

    .nav-menu-buy-btn {
      display: flex;
      align-items: center;
    }
  }

  &-text {
    margin: 0 auto;
    width: 90%;
    text-align: center;

    .app-header {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 48px;
      color: #fff;
      margin-top: 50px;
    }

    .fork-app-text {
      font-family: "Montserrat";
      font-size: 18px;
      color: $main-color;
      margin-top: 19px;
      line-height: 24px;
    }

    .version-text {
      font-family: "Montserrat";
      font-size: 14px;
      color: #848e97;
      margin-top: 14px;
      text-transform: uppercase;
    }
  }

  .button {
    border-radius: 40px;
    border: none;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    background: $main-color;
    line-height: 20px;
  }

  .download-btn {
    padding: 13px 29px;
    font-size: 18px;
    position: absolute;
    top: 696px;
    left: 15px;
    right: 15px;
    min-width: 290px;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $main-color;
    }

    @include mq("tablet") {
      width: 390px;
      margin: 0 auto;
    }
  }
}

.nav-container {
  background-color: #27262a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 33px;

  @include mq("tablet") {
    padding-top: 0;
    display: block;
    padding-bottom: 18px;
  }

  @include mq("desktop") {
    background-color: transparent;
    max-width: 1200px;
  }

  @include mq("full-desktop") {
    margin: 0 auto;
    padding: 0;
  }

  .header-logo {
    display: flex;
    justify-content: baseline;

    @include mq("tablet", min) {
      width: 100%;
      display: flex;
      align-items: flex-start;
      padding-top: 22px;
    }
  }

  .header-logo-name {
    display: none;

    @include mq("tablet", min) {
      display: block;
      font-weight: 700;
      font-size: 24px;
      font-family: "Lato";
      color: $main-color;
      text-transform: uppercase;
      margin-left: 17px;
    }
  }
}

.buy-now {
  padding: 8px 30px;
  font-size: 15px;
  margin-left: 51px;
  margin-top: 9px;
  cursor: pointer;

  @include mq("desktop") {
    margin-left: 0;
  }

  &:hover {
    background-color: #fff;
    color: $main-color;
  }
}

.nav-menu {
  width: 95%;
  position: absolute;
  left: 3%;
  top: 103px;
  cursor: pointer;
  opacity: 0;
  background-color: $footer-background-color;

  @include mq("tablet") {
    background-color: transparent;
    opacity: 1;
    position: static;
    margin: 0 auto;
  }

  li {
    padding: 29px 35px 21px;
  }

  &-items {
    @include mq("tablet") {
      display: flex;
      background-color: transparent;
      justify-content: center;

      li {
        padding: 0;
        margin-right: 6%;
        margin-top: 22px;
      }
    }

    @include mq("desktop") {
      display: none;
    }
  }

  &-item {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    display: flex;
    align-items: center;

    &:active {
      color: $main-color;
    }

    &:focus::before {
      content: "";
      display: block;
      background-color: $main-color;
      width: 8px;
      height: 53px;
      left: 0;
      position: absolute;
      border: 1px solid $main-color;

      @include mq("tablet") {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #4e4e4e;
      font-size: 11px;
      text-align: left;
      text-transform: uppercase;
      font-weight: 400;
    }

    @include mq("tablet") {
      margin-right: 5px;
      font-weight: 700;
      font-size: 16px;
      color: $main-color;
    }

    @include mq("desktop") {
      margin-right: 40px;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.toggle-btn {
  margin-left: 51px;

  @include mq("tablet") {
    display: none;
  }

  .toggle {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 2px;
    background: #fff;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  .toggle-half {
    width: 20px;
    margin-left: 10px;
  }
}

.active {
  opacity: 1;
  transition: all 0.5s ease;
}
.slider-noActiv {
  display: none;
}
.is-active {
  .toggle:nth-child(2) {
    opacity: 0;
  }

  .toggle:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 30px;
    margin-left: 0;
  }

  .toggle:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 30px;
  }
}
.sentence-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #848e97;
  margin-top: 450px;
  @include mq("desktop") {
    margin-top: 500px;
  }
  @include mq("full-desktop") {
    margin-top: 518px;
  }
}
