@import "./abstracts/mixins";
@import "./abstracts/variables";

.people-container {
  background-image: url(../../dist/img/people-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4a3c4e;
  text-align: center;
  background-position: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 320px;

  .people-gallery-items {
    margin-top: 45px;
  }

  .people-heading {
    font-family: "Montserrat";
    padding-top: 57px;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 48px;
  }

  .people-gallery {
    margin-top: 53px;
    padding-bottom: 50px;

    @include mq("tablet") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      gap: 5%;
      margin: 0;

      &-items {
        &:nth-child(4) {
          .people-text {
            margin-top: 50px;
          }

          img {
            margin-top: 30px;
          }
        }

        &:nth-child(6) {
          .people-text {
            br {
              display: inline;
              content: " ";
              padding: 0 1px;
            }
          }
        }
      }
    }

    @include mq("desktop") {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}

.people-text {
  margin-top: 33px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.people-text-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;

  &::after {
    content: "";
    display: block;
    width: 95%;
    border: 1px solid #645766;
    margin: 19px auto;
  }

  @include mq("tablet") {
    margin-top: 100px;
  }
}
